# ignore anything beginning with "__"
# (used to hide stuff from the repository)
__*
**/__*

# files that get generated and don't need to be in the repository:
**/*.aif
**/*.mbm
**/*.zip

# the release binary does not need to be in the repo;
# we'll produce these locally and zip for release
release/inform6.exe

# unrelated junk files
**/Thumbs.db